.collection
  margin-bottom: 86px

  &__title
    text-align: center
    margin-bottom: 42px

  &__img
    flex: 0 0 419px
    max-width: 419px

    svg
      width: 100%
      height: 100%

  &__content
    display: flex
    column-gap: 11px

  &__inner
    display: grid
    grid-template-rows: repeat(3, 1fr)
    row-gap: 11px
    flex-grow: 1
    margin-top: 57px

  &__item
    display: flex
    justify-content: space-between
    column-gap: 35px
    border: 1px solid $border
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    padding: 21px 30px 0 26px

    &-box
      display: flex
      align-items: flex-start
      column-gap: 26px

    &-icon
      margin-top: 8px

    &-text
      max-width: 461px
