doctype html
html(lang="en")
  block head
    - var title = 'Paysline | A Reliable Solution for Monetizing Your App'
    - var description = 'Boost your revenue without adding more in-app ads. The Paysline SDK integrates smoothly, keeping your current monetization model intact.'
  include ../layout/_head
  body
    .wrapper
      // Header
      include ../layout/_header

      // Main
      main.main
        include ./index/promo
        include ./index/advantages
        include ./index/work
        include ./index/categories
        include ./index/estimate
        include ./index/collection
        include ./index/solution
        include ./index/about

      // Footer
      include ../layout/_footer

    // Scripts
    script(src='js/libs.min.js', defer)
    script(src='js/main.bundle.js', defer)