.work

  &__title
    text-align: center
    margin-bottom: 21px
    +md
      margin-bottom: 29px

  &__text
    text-align: center
    max-width: 751px
    margin: 0 auto 61px
    +md
      margin: 0 auto 41px

  &__img
    position: relative
    z-index: 1

    svg
      width: 100%
      height: 100%

  &__inner
    display: grid
    grid-template-columns: 432px 453px
    justify-content: space-between
    position: relative
    top: -91px
    max-width: 1019px
    margin: 0 auto
    padding: 160px 42px 48px 38px
    border: 1px solid $light_b
    border-radius: 30px
    +xxl
      grid-template-columns: repeat(2, 1fr)
      column-gap: 50px
    +lg
      border: none
      padding: 75px 0 48px
      top: auto
      column-gap: 34px
    +md
      grid-template-columns: 1fr
      row-gap: 34px
      padding: 39px 0 54px

    &-item
      display: flex
      align-items: flex-start
      column-gap: 30px

      +sm
        column-gap: normal
        justify-content: space-between

      &-line
        position: absolute
        background: #44B4FF
        top: 2px
        right: 0
        height: 1px
        width: 100%
        +md
          position: static
          width: 1px
          height: 100%

    &-number
      font-weight: 300
      font-size: 60px
      line-height: 45px
      color: #44B4FF
      position: relative
      +lg
        font-size: 50px
        line-height: 37px
      +md
        font-size: 40px
        line-height: 44px
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 9px
        height: 100%

      .icon
        width: 8px
        height: 100%
        fill: #44B4FF
        +min_md
          display: none

    &-text
      padding-top: 25px
      position: relative
      +md
        padding-top: 0
      +sm
        max-width: 298px

      .icon
        fill: #44B4FF
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 9px
        +md
          display: none
