.categories
  margin-bottom: 75px

  &__title
    text-align: center
    max-width: 678px
    margin: 0 auto 67px
    +sm
      max-width: 330px
      margin: 0 auto 56px

  &__pagination
    display: flex
    column-gap: 23px
    justify-content: center
    flex-wrap: wrap
    row-gap: 17px
    margin-bottom: 51px
    +md
      column-gap: 14px
      margin-bottom: 46px

  &__slider

    &-img
      position: absolute
      left: 0
      top: 0
      max-width: 286px
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      overflow: hidden
      +xl
        max-width: 230px
      +md
        max-width: 123px
        border-bottom-left-radius: 0
        height: 154px
      img
        width: 100%
        height: 100%
        object-fit: cover

    &-content
      background: #FFFFFF
      border: 1px solid #D9E7FB
      border-radius: 20px
      margin-left: 258px
      padding: 37px 43px 38px 69px
      display: flex
      column-gap: 53px
      +xl
        margin-left: 200px
        flex-direction: column
      +md
        margin-left: 0
        padding: 19px 35px 35px 34px

    &-col

      &:first-child
        +min_xl
          flex: 0 0 250px
        +xl
          max-width: 255px
          margin-bottom: 49px
        +md
          padding-left: 109px
          max-width: 100%
          margin-bottom: 29px

      &:last-child
        display: flex
        flex-direction: column
        row-gap: 28px
        +min_xl
          flex: 0 1 552px

    &-title
      margin-bottom: 19px

    &-semi
      position: relative
      margin-bottom: 12px
      &::after
        content: ''
        position: absolute
        width: 69px
        height: 1px
        background: $accent
        top: 50%
        left: 32px
        transform: translateY(-50%)

    &-name
      font-weight: 700
      font-size: 18px
      line-height: 30px
      letter-spacing: 0.18px
      +md
        font-size: 16px

    &-job
      font-weight: 400
      font-size: 18px
      line-height: 30px
      +md
        font-size: 16px
