footer.b-footer 
  .container
    ._content
      ._wrap.d-inline-flex.align-items-md-end.flex-md-row.flex-column
        ._logo
          +logo('/')
        .copyright 
          span All rights reserved © 2025
      ._inner
        ._item
          a._link(href="privacy-and-policy.html") Privacy Policy
        ._item
          a._link(href="mailto:info@paysline.com") info@paysline.com
