.solution
  margin-bottom: 20px
  +md
    margin-bottom: 11px

  &__content
    background: #D9E9FB
    border-radius: 30px
    padding-top: 68px
    padding-bottom: 66px
    +xl
      padding-top: 20px
      padding-bottom: 20px
    +md
      border-radius: 20px

  &__inner
    row-gap: 11px

  &__row

    &:first-child
      display: flex
      column-gap: 11px
      +lg
        flex-direction: column
        row-gap: 35px

      .solution__item
        flex-grow: 1
        width: 100%

    &:last-child
      column-gap: 11px
      +min_xl
        display: grid
        grid-template-columns: repeat(3, 1fr)
      +xl
        display: flex
        flex-wrap: wrap
        justify-content: center
        row-gap: 11px

      .solution__item
        +xl
          flex: 0 0 calc( 50% - 5.5px )
        +md
          flex: 0 0 100%

  &__img
    background: linear-gradient(163deg, #d9e7fb 39%, rgba(55, 115, 255, 0.6) 86%)
    flex: 0 0 587px
    border-radius: 20px
    position: relative
    +xl
      flex: 0 0 390px
    +lg
      flex: auto
      display: flex
      justify-content: center

    &-wrap
      max-width: 395px
      width: 100%
      +min_lg
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0
      +xl
        max-width: 290px
      +sm
        max-width: 235px

  &__item
    background: $white
    border-radius: 20px
    padding: 34px 35px 28px 37px

    &-icon
      margin-bottom: 20px

    &-title
      margin-bottom: 40px
      max-width: 255px
      +md
        margin-bottom: 27px

    &-text
      row-gap: 29px
