.btn
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center

  font-weight: 700
  font-size: 20px
  line-height: 20px

  padding: 19px 50px
  width: 100%
  max-width: 389px

  color: $white
  border: none
  background: $accent
  border-radius: 5px

  transition: all 0.3s ease

  @media (hover: hover)
    &:hover
      background: darken($accent, 10%)
