.input-wrap
  margin-bottom: 31px
  .form-control
    font-weight: 400
    font-size: 18px
    line-height: 30px
    border: none
    border-bottom: 1px solid #909090
    border-radius: 0
    outline: none
    color: $black
    padding: 0 0 16px
    &::placeholder
      color: rgba($black, 30%)
    &:focus
      border-color: $accent
      box-shadow: none
      &::placeholder
        color: $black
