section.b-about
  .container 
    ._content
      ._title
        +title-2('About Paysline')
      ._text
        +body
          p
            |Company name is a fast-growing IT solutions company specializing in automated public web data collection. We provide effective monetization tools for app developers and mobile publishers, enabling them to earn significant revenue while maintaining a seamless user experience. With the Company name SDK, developers can keep their apps ad-free, generate additional income, and focus on creating top-tier applications.
      ._statistics
        ._statistics-item
          ._statistics-number
            span 93
          ._statistics-description
            span Apps With Our SDK
        ._statistics-item
          ._statistics-number
            span ~$64 000
          ._statistics-description
            span Monthly Payouts
        ._statistics-item
          ._statistics-number
            span 520 000+
          ._statistics-description
            span Daily Users Traffic
  ._img
    img.lozad(data-src="img/about/bg.jpg" alt="about-img")