section.b-advantages
  .container 
    ._content
      ._item
        ._item-icon.advantages__item-icon--hand
          include ../../config/svg/hand.svg
        ._item-wrap
          ._item-title 
            +title-3('Additional Revenue')
          ._item-text
            +body
              p Increase your revenue without introducing additional in-app advertisements. The Paysline SDK seamlessly integrates with your existing monetization strategies, ensuring there’s no need to modify or disrupt your current app revenue model.
      ._item
        ._item-icon.advantages__item-icon--basket
          include ../../config/svg/basket.svg
        ._item-wrap
          ._item-title 
            +title-3('Start Earning Immediately')
          ._item-text
            +body
              p With the Paysline SDK, you can start earning immediately by utilizing your app users' idle resources. This enables you to generate extra income from day one. By integrating the SDK, you can leverage unused device capabilities without affecting the user experience.
      ._item
        ._item-icon.advantages__item-icon--lamp
          include ../../config/svg/lamp.svg
        ._item-wrap
          ._item-title 
            +title-3('Effortless Monetization')
          ._item-text
            +body
              p Your revenue grows as the number of active users in your app increases. The Developer Console offers valuable insights, such as a detailed breakdown of users by geo-location, which you can leverage to optimize and plan your ad campaigns more effectively.
