section.b-categories
  .container
    ._content
      ._title
        +title-2('Paysline SDK is Suitable for All Categories of App')
      ._pagination
        button.tab-btn.active(data-index="0") Entertainment
        button.tab-btn(data-index="1") Business & Utility
        button.tab-btn(data-index="2") Education
        button.tab-btn(data-index="3") Health & Fitness
      ._inner
          div.swiper._slider
            div.swiper-wrapper
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Solution That Supports My Game')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Nico Ferretti
                      ._slider-job
                        span CutLine
                    ._slider-col
                      +body
                        |Your audience is just gaining momentum, engaging with your gaming or entertainment project, and you’d like to have an additional monetization source that can support your growth and help optimize your costs. 
                      +body
                        |Our solution will not irritate your users, nor will it affect the performance of your application or the user’s device. Moreover, we are completely transparent regarding user agreements and will never collect data without the consent of your project’s audience.
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Solution That Supports My Game')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Nico Ferretti
                      ._slider-job
                        span CutLine
                    ._slider-col
                      +body
                        |Your audience is just gaining momentum, engaging with your gaming or entertainment project, and you’d like to have an additional monetization source that can support your growth and help optimize your costs. 
                      +body
                        |Our solution will not irritate your users, nor will it affect the performance of your application or the user’s device. Moreover, we are completely transparent regarding user agreements and will never collect data without the consent of your project’s audience.
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Solution That Supports My Game')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Nico Ferretti
                      ._slider-job
                        span CutLine
                    ._slider-col
                      +body
                        |Your audience is just gaining momentum, engaging with your gaming or entertainment project, and you’d like to have an additional monetization source that can support your growth and help optimize your costs. 
                      +body
                        |Our solution will not irritate your users, nor will it affect the performance of your application or the user’s device. Moreover, we are completely transparent regarding user agreements and will never collect data without the consent of your project’s audience.
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Solution That Supports My Game')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Nico Ferretti
                      ._slider-job
                        span CutLine
                    ._slider-col
                      +body
                        |Your audience is just gaining momentum, engaging with your gaming or entertainment project, and you’d like to have an additional monetization source that can support your growth and help optimize your costs. 
                      +body
                        |Our solution will not irritate your users, nor will it affect the performance of your application or the user’s device. Moreover, we are completely transparent regarding user agreements and will never collect data without the consent of your project’s audience.
            