section.b-categories
  .container
    ._content
      ._title
        +title-2('Paysline SDK is Suitable for All Categories of App')
      ._pagination
        button.tab-btn.active(data-index="0") Entertainment
        button.tab-btn(data-index="1") Business & Utility
        button.tab-btn(data-index="2") Education
        button.tab-btn(data-index="3") Health & Fitness
      ._inner
          div.swiper._slider
            div.swiper-wrapper
              //- ENTERTAINMENT
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Solution That Supports My Game')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Nico Ferretti
                      ._slider-job
                        span CutLine
                    ._slider-col
                      +body
                        p Your audience is gaining momentum and actively engaging with your gaming or entertainment project, and you’re looking for an additional source of monetization that can not only support your growth but also help you optimize your costs effectively.
                      +body
                        p Our solution is designed to seamlessly integrate without annoying your users or affecting the performance of your application or the user’s device in any way. In addition, we are fully transparent when it comes to user agreements, ensuring that we never collect any data without the explicit consent of your project’s audience.
              //- Business & Utility
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image-2.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('An Invisible and Efficient Worker in Your Team')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Alice Asplund
                      ._slider-job
                        span ThreeInOne
                    ._slider-col
                      +body
                        p Your users rely on your business or utility platform for essential services, and you’re seeking a way to enhance monetization while maintaining efficiency and user satisfaction.
                      +body
                        p Our solution is carefully designed to integrate smoothly with your platform, ensuring it does not interfere with its functionality or disrupt your users’ interactions. We place a high priority on transparency, adhering strictly to user consent in all data handling processes. This approach not only safeguards trust but also helps drive sustainable growth for your business, keeping both your goals and your users’ needs in focus.
              //- Education
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image-3.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('More Freedom to Develop Your Platform')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Mika Nakamura
                      ._slider-job
                        span Kukora
                    ._slider-col
                      +body
                        p Your education platform is growing steadily, and you’re exploring ways to introduce an additional revenue source that aligns with your mission while keeping costs under control.
                      +body
                        p Our solution blends effortlessly into your platform, ensuring it doesn’t interfere with the learning process or impact system performance. We prioritize clarity and respect for your audience by upholding strict transparency standards and obtaining consent for any data use, empowering you to enhance your platform without compromising user trust.
              //- Health & Fitness
              div.swiper-slide
                ._slider-item 
                  ._slider-img 
                    img(src="img/categories/image-4.jpg", alt="image")
                  ._slider-content
                    ._slider-col.d-flex.flex-column
                      ._slider-title 
                        +title-3('A Cool Way to Get Your App Running')
                      ._slider-semi
                        +icon('semi')
                      ._slider-name
                        span Albert Ramirez
                      ._slider-job
                        span Fitcare
                    ._slider-col
                      +body
                        p Your health and fitness platform continues to thrive, and you’re seeking innovative opportunities to generate additional income while efficiently managing your costs.
                      +body
                        p Our approach seamlessly integrates into your app without interfering with functionality or disrupting your users’ experience. With a commitment to transparency, we ensure that all data usage aligns with user consent, enabling you to enhance your platform’s potential while maintaining the trust and satisfaction of your audience.