section.b-collection
  .container
    ._title
      +title-2('How Is the Data We Collect Used?')
    ._content
      ._img
        include ../../config/svg/illustration.svg
      ._inner
        ._item 
          ._item-box 
            ._item-icon 
              include ../../config/svg/horn.svg
            ._item-title
              +title-3('Market Insights')
          ._item-text
            +body
              | Various companies leverage public web data to gain valuable and actionable insights through the in-depth analysis of elements such as product pricing trends and consumer behavior patterns.
        ._item 
          ._item-box 
            ._item-icon 
              include ../../config/svg/ad.svg
            ._item-title
              +title-3('Ad Verification')
          ._item-text
            +body
              | Various companies leverage public web data to gain valuable and actionable insights through the in-depth analysis of elements such as product pricing trends and consumer behavior patterns.
        ._item 
          ._item-box 
            ._item-icon 
              include ../../config/svg/seo.svg
            ._item-title
              +title-3('SEO Monitoring')
          ._item-text
            +body
              | Various companies leverage public web data to gain valuable and actionable insights through the in-depth analysis of elements such as product pricing trends and consumer behavior patterns.