section.b-estimate
  ._inner
    .container
      .row 
        .col-6 
          ._title
            include ../../config/svg/calculator.svg
            +title-2('Estimate Your Potential Earnings')
          
        .col-6 
          ._text
            +body
              |Our payout system is flexible, allowing you to choose between receiving payments monthly or when your earnings reach a specific threshold (no more than once a month). Simply enter your average daily active users (ADAU) to see how much you could earn each month.
          ._calc
            table._calc-table
              tbody 
                tr 
                  td Revenue range from:
                  td $1000
                tr 
                  td up to:
                  td $5000
  .container
    ._bottom
      +button('a', 'Start earning now', 'sign-in.html', 'medium')