section.b-work
  .container
    ._content
      ._title
        +title-2('How Does it Work?')
      ._text
        +body
          p The Paysline SDK is a software component that can be integrated into your applications for Android, Unity, Windows, or macOS platforms. Here’s how it functions:
      ._img
        include ../../config/svg/desktop-img.svg

      ._inner
        ._inner-item
          ._inner-number 
            span 1
            +icon('long-arrow')
          ._inner-text
            +body
              p When a device running an application with the Paysline SDK is in an idle state and connected to Wi-Fi, it routes HTTP requests to gather publicly accessible web data, such as dynamic product prices on e-commerce websites.
        ._inner-item
          ._inner-number 
            span 2
          ._inner-text
            +body
              p This information is used by businesses for business intelligence, market research, and brand protection against fraud. The SDK manages requests within the Paysline ecosystem, ensuring that users' devices remain unaffected in performance and battery life.
