.estimate
  margin-bottom: 96px

  &__inner
    padding-top: 56px
    color: $white
    background: $accent
    border-radius: 30px
    height: 547px

  &__title
    display: flex
    column-gap: 41px

    svg
      flex-shrink: 0

  &__bottom
    display: flex
    align-items: center
    justify-content: center
    background: #D9E9FB
    padding: 37px 0 43px
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px

  &__calc
    border: 1px solid rgba($white, 50%)
    border-radius: 20px
    padding-top: 36px
    padding-left: 31px
    padding-bottom: 41px

    &-table
      tr
        td
          &:first-child
            font-weight: 700
            font-size: 20px
            // line-height: 30px
          &:last-child
            font-weight: 400
            font-size: 60px
            // line-height: 30px

    &-item
      display: flex
      column-gap: 36px
